/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/
html,
body {
	margin: 0;
	font: 16px sans-serif;
}
.container {
	margin: 0 auto;
	width: 1170px;
}
header {
	background-color: #87cefa;
	padding: 2px 0;
}
.clear {
	clear: both;
	background-color: #87cefa;
	padding: 5px 15px;
	margin-bottom: 20px;
}
img {
	border: 5px solid lightgray;
}
.instructions {
	margin: 15px 0;
	padding: 10px 15px;
	border: 5px solid lightgray;
}
.pull-left {
	float: left;
	margin-right: 20px;
}
.pull-right{
	float: right;
	margin-top: 10px;
	margin-left: 20px;
}
footer {
	background-color: black;
	color: #39393b;
	font-style: italic;
	padding: 20px 0;
}
/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.sfooter-content {
	flex: 1 0 auto;
}